[submodule "crates/aiui"]
	path = crates/aiui
	url = https://github.com/OctopusTechnology/aiui.git
	branch = main
[submodule "crates/playctl"]
	path = crates/playctl
	url = https://github.com/OctopusTechnology/playctl.git
	branch = main
[submodule "crates/vtn"]
	path = crates/vtn
	url = https://github.com/OctopusTechnology/vtn.git
	branch = main
