apiVersion: apps/v1
kind: Deployment
metadata:
  name: voice-stack-deployment
  namespace: robot
  labels:
    app: voice-stack
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: voice-stack
  template:
    metadata:
      labels:
        app: voice-stack
    spec:
      # use host network to share MAC address with host
      hostNetwork: true
      restartPolicy: Always

      # Pod-level security context (user / group)
      securityContext:
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 0

      containers:
        - name: voice-stack
          image: docker.dev.highcom.com.cn/voice-stack:latest
          imagePullPolicy: Always
          
          env:
            - name: RUST_LOG
              value: "debug"
            - name: RUST_BACKTRACE
              value: "1"

          # Container-level security context (RT audio)
          securityContext:
            capabilities:
              add:
                - SYS_NICE
                - IPC_LOCK

          ports:
            - name: asrd-tcp
              containerPort: 53101
              protocol: TCP
            - name: playctl-http
              containerPort: 55303
              protocol: TCP

          stdin: true
          tty: true

          volumeMounts:
            - name: shm
              mountPath: /dev/shm

            - name: assets-audio
              mountPath: /app/assets/audio
              readOnly: true

            - name: config
              subPath: znoise_config.toml
              mountPath: /app/config/znoise/config.toml
              readOnly: true

            - name: config
              subPath: asrd_config.toml
              mountPath: /app/config/asrd/config.toml
              readOnly: true

            - name: config
              subPath: playctl_config.toml
              mountPath: /app/config/playctl/config.toml
              readOnly: true

            - name: vtn-bin
              mountPath: /app/bin

      volumes:
        - name: shm
          hostPath:
            path: /dev/shm
            type: Directory

        - name: assets-audio
          hostPath:
            path: /opt/voice-stack/assets/audio
            type: Directory

        - name: config
          hostPath:
            path: /opt/k3s/config
            type: Directory

        - name: vtn-bin
          emptyDir: {}
